.refdetailsbg {
  background-color: #bbbbcc;
}

.refdetailsbg_bn {
  background-color: #c485c0;
}

.refdetailsbg_fn {
  background-color: #4e5bb5;
}

.refdetails {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  padding: 5px;
}
.refdetails div {
  padding: 10px;
}
.refdetails div.info {
  flex: 50%;
  text-align: center;
  justify-content: center;
}

.refdetails div.refgallery {
  grid-area: refgallery;
  text-align: center;
  justify-content: center; /*vert*/
  align-items: center; /*HORI?*/
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
  .refdetails div.info {
    flex: 100%;
  }
}

.refdetails table {
  border-collapse: collapse;
  width: 100%;
}

.refdetails td, th {
  text-align: right;
  padding: 8px;
}

.refdetails td:nth-child(even) {
  text-align: left;
}

.refdetails tr:nth-child(odd) {
  background-color: #eeeeee;
}



.refgallery {
  box-sizing: border-box;
}

.refgallery body {
  margin: 0;
  font-family: "Helvetica", "Arial", sans-serif;
}

.refgallery h1 {
  text-align: center;
  font-size: 1.7rem;
}
.refgallery ul {
  width: 260px;
  height: auto;
  padding: 20px;
  display: flex;
  gap: 3vw;
}
.refgallery li {
  list-style-type: none;
  /*background-color: #eeeeee;
  border: 1px solid #dddddd;*/
  padding: 20px;

  flex: 0 0 100%;
}

.refgallery li:nth-child(even) {
}
.refgallery ul {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.refgallery li {
  scroll-snap-align: center;
}
.refgallery ul::scroll-button(*) {
  border: 0;
  font-size: 2rem;
  background: none;
  color: black;
  opacity: 0.7;
  cursor: pointer;
}

.refgallery ul::scroll-button(*):hover,
.refgallery ul::scroll-button(*):focus {
  opacity: 1;
}

.refgallery ul::scroll-button(*):active {
  translate: 1px 1px;
}

.refgallery ul::scroll-button(*):disabled {
  opacity: 0.2;
  cursor: unset;
}
.refgallery ul::scroll-button(left) {
  content: "◄" / "Previous";
}

.refgallery ul::scroll-button(right) {
  content: "►" / "Next";
}
.refgallery ul {
  anchor-name: --my-carousel;
}

.refgallery ul::scroll-button(*) {
  position: absolute;
  position-anchor: --my-carousel;
}
.refgallery ul::scroll-button(left) {
  right: calc(anchor(left) - 70px);
  bottom: calc(anchor(top) - 44px);
}

.refgallery ul::scroll-button(right) {
  left: calc(anchor(right) - 70px);
  bottom: calc(anchor(top) - 44px);
}
.refgallery ul {
  scroll-marker-group: after;
}
.refgallery ul::scroll-marker-group {
  position: absolute;
  position-anchor: --my-carousel;
  top: calc(anchor(bottom) - 70px);
  justify-self: anchor-center;

  display: flex;
  justify-content: center;
  gap: 20px;
}
.refgallery li::scroll-marker {
  content: attr(data-accName);
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 50%;
  overflow: hidden;
  text-indent: 16px;
}
.refgallery li::scroll-marker:target-current {
  background-color: black;
}

.refgallery img {
  max-height: 360px;
  min-width: 240px;
  object-fit: contain;
}